
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body, html {
      height: 100%;
      font-family: 'AriaI', sans-serif;

    }

    body {
      background-image: url('bg4.jpg');
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;

    }

    .login-container {
      background: rgba(255, 255, 255, 0.9);
      padding: 30px;
      border-radius: 10px;
      max-width: 350px;
      width: 95%;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
      text-align: center;
      background-image: url(bg10.webp);
    }

    .login-container h2 {
      margin-bottom: 20px;
      color: #2f4f4f;
    }

    input[type="text"],
    input[type="password"] {
      width: 90%;
      padding: 12px 10px;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 16px;
    }

    .btn {
      width: 100%;
      padding: 12px;
      background-color: #2e8b57;
      color: white;
      border: none;
      border-radius: 6px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin: 20px;
    }

    .btn:hover {
      background-color: darkgreen;
    }

    .signup-link {
      margin-top: 15px;
      font-size: 14px;
    }

    .signup-link a {
      color: #2e8b57;
      text-decoration: none;
    }

    .signup-link a:hover {
      text-decoration: underline;
    }
  