 
        body {
            margin: 0;
            text-size-adjust: 10px;
            font-family: Times new roman, sans-serif;
            background-image: url('bg4.jpg'); 
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;



        } 

        /* body {
      background-image: url('bg4.jpg');
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;

    }*/


 
        .form-container {
            background-color: rgba(255, 255, 255, 0.9); 
            width: 300px;
            margin: 90px auto;
            height: 30%;
            padding: 50px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px #333;
            background-image: url(bg10.webp);
            font-size: 16px;
           



        }

        h2 {
            text-align: center;
            margin-bottom: 0px;
        }

        label {
            display: block;
            margin-top: 1px;
            font-weight: bold;
        }

        input, select, textarea {
            width: 95%;
            padding: 8px;
            margin-top: 5px;
            border: 1px solid #aaa;
            border-radius: 4px;
            size: 200%
        }

        button {
            margin-top: 20px;
            width: 100%;
            padding: 10px;
            background-color: #2e8b57;
            color: white;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            cursor: pointer;
        }

        button:hover {
            background-color: darkgreen;
        }
        .back-link {
      margin-top: 5px;
      font-size: 5px;
    }

    .back-link a {
      color: #2e8b57;
      text-decoration: none;
    }
    
